body {
  margin:0;
  padding:0;
}

.site-header {
  background-color:#56CBF9;
  width:100%;
  height:63px;
}

.hero-photo {
  background:url(./hero-image-compressed.jpg) no-repeat center top;
  background-size:1000px;
  width:100%;
  height:510px;
}

.hero-photo > .vertical-centered {
  color:white;
  font-size:15pt;
  font-family: 'Arial';
  padding-top:132px;
  text-align:center;
}

.hero-photo > .vertical-centered > h1,h2,h3 {
  margin:0;
}

#logo {
  height:inherit;
  color:white;
  font-size:24pt;
  font-family: 'Pacifico', cursive;
  width:128px;
  margin-left:14px;
  float:left;
  position:relative;
  padding-right:15px;
}

ul#pages {
  height:inherit;
  color:white;
  list-style-type:none;
  font-family:Arial;
  margin:0;
  padding:0;
  width:100%;
}

ul#pages > li {
  display:inline-block;
  padding-top:21px;
  text-align:center;
}

ul#pages > li > a:link, a:visited {
  color:white;
  padding:22px;
  text-decoration:none;
}

ul#pages > li > a:hover, a:active {
  color:#56CBF9;
  background:white;
  text-decoration:none;
}
